<h1 class="mb-3">Dashboard</h1>

<form action="">
    <%= select_tag :state, options_for_select(["All", "Proposal", "In Progress", "Finished"]) %>
    <input type="submit" value="Buscar" class="btn btn-success btn-sm">
</form>



<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Fecha de inicio</th>
        <th>Fecha de término</th>
        <th>Estado</th>
    </tr>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.starts_on %></td>
        <td><%= project.finish_date %></td>
        <td><%= project.state %></td>
      </tr>
    <% end %>
</table>
