<h1>Agregar nuevo proyecto</h1>

<div class= "form-group">
<%= form_with(model: @project) do |form| %>
 
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control'  %>
    </div>

    <div class="field my-2">
      <%= form.label :description %>  
      <%= form.text_field :description, class: 'form-control'  %>
    </div>

    <div class="field my-2">
      <%= form.label :starts_on %>  
      <%= form.date_field :starts_on, class: 'form-control'  %>
    </div>

    <div class="field my-2">
      <%= form.label :finish_date %>
      <%= form.date_field :finish_date, class: 'form-control'  %>
    </div>
    <br>
    <div class="field my-2">
      <%= form.label :state %>
      <%= form.select :state, ["Proposal", "In Progress", "Finished"] %>
    </div>
    <br>
    <%= form.submit "Submit", class: 'btn btn-success btn-sm' %>
  <%end%>
</div>

